services:
  traefik:
    image: traefik:3.6.4
    container_name: traefik
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "8081:8080"
    volumes:
      - ./traefik.yml:/traefik.yml:ro
      - ./acme.json:/acme.json
      - ./users.htpasswd:/users.htpasswd:ro
      - ./logs:/var/log/traefik
      - /var/run/docker.sock:/var/run/docker.sock:ro
    dns:
      - 1.1.1.1
      - 8.8.8.8
    networks:
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik-dashboard.rule=Host(`traefik.bobparsons.dev`)"
      - "traefik.http.routers.traefik-dashboard.entrypoints=http,https"
      - "traefik.http.routers.traefik-dashboard.tls=true"
      - "traefik.http.routers.traefik-dashboard.tls.certresolver=letsencrypt"
      - "traefik.http.routers.traefik-dashboard.service=api@internal"
      - "traefik.http.routers.traefik-dashboard.middlewares=traefik-auth,rate-limit-strict@file,security-headers@file,compress@file"
      - "traefik.http.middlewares.traefik-auth.basicauth.usersfile=/users.htpasswd"
    environment:
      - TRAEFIK_AUTH_HASH=${TRAEFIK_AUTH_HASH}

networks:
  traefik:
    external: true
